In [2]:
# Info on PISA test: https://worldpopulationreview.com/country-rankings/pisa-scores-by-country
# OECD Mathematics performance (PISA)
!wget -O "oecd_math_pisa.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.PISAMATH.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"

--2022-12-02 09:01:07--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.PISAMATH.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘oecd_math_pisa.csv’

oecd_math_pisa.csv      [   <=>              ]  36.19K  66.3KB/s    in 0.5s

2022-12-02 09:01:10 (66.3 KB/s) - ‘oecd_math_pisa.csv’ saved [37060]

In [3]:
import pandas as pd
math_pisa = pd.read_csv("oecd_math_pisa.csv")

In [4]:
math_pisa.head()

  LOCATION INDICATOR SUBJECT    MEASURE FREQUENCY  TIME    Value  Flag Codes
0      AUS  PISAMATH     BOY  MEANSCORE         A  2003  527.000         NaN
1      AUS  PISAMATH     BOY  MEANSCORE         A  2006  527.000         NaN
2      AUS  PISAMATH     BOY  MEANSCORE         A  2009  519.000         NaN
3      AUS  PISAMATH     BOY  MEANSCORE         A  2012  510.115         NaN
4      AUS  PISAMATH     BOY  MEANSCORE         A  2015  497.000         NaN

In [5]:
math_pisa.SUBJECT.unique()

array(['BOY', 'GIRL', 'TOT'], dtype=object)

In [6]:
math_pisa_2018 = math_pisa[(math_pisa["SUBJECT"] == 'TOT') & (math_pisa["TIME"] == 2018)]
math_pisa_2018.head()

    LOCATION INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value  Flag Codes
451      AUS  PISAMATH     TOT  MEANSCORE         A  2018  491.0         NaN
456      AUT  PISAMATH     TOT  MEANSCORE         A  2018  499.0         NaN
462      BEL  PISAMATH     TOT  MEANSCORE         A  2018  508.0         NaN
468      CAN  PISAMATH     TOT  MEANSCORE         A  2018  512.0         NaN
474      CZE  PISAMATH     TOT  MEANSCORE         A  2018  499.0         NaN

In [7]:
math_pisa_2018.shape

(42, 8)

In [8]:
# OECD Science performance (PISA)
!wget -O "oecd_science_pisa.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.PISASCIENCE.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"

--2022-12-02 09:01:55--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.PISASCIENCE.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘oecd_science_pisa.csv’

oecd_science_pisa.c     [   <=>              ]  32.82K  64.0KB/s    in 0.5s

2022-12-02 09:01:57 (64.0 KB/s) - ‘oecd_science_pisa.csv’ saved [33611]

In [9]:
science_pisa = pd.read_csv("oecd_science_pisa.csv")
science_pisa_2018 = science_pisa[(science_pisa["SUBJECT"] == 'TOT') & (science_pisa["TIME"] == 2018)]
science_pisa_2018.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
384,AUS,PISASCIENCE,TOT,MEANSCORE,A,2018,503.0,NaN
388,AUT,PISASCIENCE,TOT,MEANSCORE,A,2018,490.0,NaN
393,BEL,PISASCIENCE,TOT,MEANSCORE,A,2018,499.0,NaN
398,CAN,PISASCIENCE,TOT,MEANSCORE,A,2018,518.0,NaN
403,CZE,PISASCIENCE,TOT,MEANSCORE,A,2018,497.0,NaN

In [26]:
science_pisa_2018.shape

(42, 8)

In [27]:
full_ed_data = pd.merge(science_pisa_2018[["LOCATION", "Value"]], math_pisa_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

  LOCATION  Value_x  Value_y
0      AUS    503.0    491.0
1      AUT    490.0    499.0
2      BEL    499.0    508.0
3      CAN    518.0    512.0
4      CZE    497.0    499.0

In [28]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH"]

In [29]:
full_ed_data.shape

(42, 3)

In [ ]:
full_ed_data.head()

  LOCATION  PISASCIENCE  PISAMATH
0      AUS        503.0     491.0
1      AUT        490.0     499.0
2      BEL        499.0     508.0
3      CAN        518.0     512.0
4      CZE        497.0     499.0

In [ ]:
# !pip install missingno
# import missingno as no

In [13]:
# OECD Reading performance (PISA)
!wget -O "oecd_read_pisa.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.PISAREAD.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"

--2022-12-02 09:03:11--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.PISAREAD.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘oecd_read_pisa.csv’

oecd_read_pisa.csv      [   <=>              ]  40.64K  79.7KB/s    in 0.5s

2022-12-02 09:03:13 (79.7 KB/s) - ‘oecd_read_pisa.csv’ saved [41614]

In [14]:
read_pisa = pd.read_csv("oecd_read_pisa.csv")
read_pisa_2018 = read_pisa[(read_pisa["SUBJECT"] == 'TOT') & (read_pisa["TIME"] == 2018)]
read_pisa_2018.head()

    LOCATION INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value  Flag Codes
512      AUS  PISAREAD     TOT  MEANSCORE         A  2018  503.0         NaN
518      AUT  PISAREAD     TOT  MEANSCORE         A  2018  484.0         NaN
525      BEL  PISAREAD     TOT  MEANSCORE         A  2018  493.0         NaN
532      CAN  PISAREAD     TOT  MEANSCORE         A  2018  520.0         NaN
539      CZE  PISAREAD     TOT  MEANSCORE         A  2018  490.0         NaN

In [30]:
full_ed_data = pd.merge(full_ed_data, read_pisa_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

  LOCATION  PISASCIENCE  PISAMATH  Value
0      AUS        503.0     491.0  503.0
1      AUT        490.0     499.0  484.0
2      BEL        499.0     508.0  493.0
3      CAN        518.0     512.0  520.0
4      CZE        497.0     499.0  490.0

In [32]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING"]

In [33]:
full_ed_data.head()

  LOCATION  PISASCIENCE  PISAMATH  PISAREADING
0      AUS        503.0     491.0        503.0
1      AUT        490.0     499.0        484.0
2      BEL        499.0     508.0        493.0
3      CAN        518.0     512.0        520.0
4      CZE        497.0     499.0        490.0

In [34]:
full_ed_data.shape

(42, 4)

In [19]:
# OECD Public education spending per student (non-tertiary) 
!wget -O "public_ed_spend.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.EDUEXP.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"
pub_ed_spend = pd.read_csv("public_ed_spend.csv")
pub_ed_spend.head()

--2022-12-02 09:04:50--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.EDUEXP.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘public_ed_spend.csv’

public_ed_spend.csv     [  <=>               ] 240.98K   574KB/s    in 0.4s

2022-12-02 09:04:52 (574 KB/s) - ‘public_ed_spend.csv’ saved [246760]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,EDUEXP,TRY,USD_STUDENT,A,2012,16475.70,NaN
1,AUT,EDUEXP,TRY,USD_STUDENT,A,2013,16853.00,NaN
2,AUT,EDUEXP,TRY,USD_STUDENT,A,2014,16867.62,NaN
3,AUT,EDUEXP,TRY,USD_STUDENT,A,2015,17560.62,NaN
4,AUT,EDUEXP,TRY,USD_STUDENT,A,2016,18625.00,NaN

In [39]:
pub_ed_spend_2018 = pub_ed_spend[(pub_ed_spend["TIME"] == 2018) & \
                                 (pub_ed_spend["SUBJECT"].isin(['EARLYCHILDEDU', 'PRY_NTRY'])) & \
                                 (pub_ed_spend["MEASURE"] == 'USD_STUDENT')]
pub_ed_spend_2018.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
941,AUS,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,12243.960,NaN
949,AUT,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,15227.390,NaN
962,BEL,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,13297.550,NaN
973,CAN,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,11771.410,NaN
988,CZE,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,9206.662,NaN

In [40]:
pub_ed_spend_2018 = pub_ed_spend_2018[["LOCATION", "Value"]].groupby("LOCATION").sum().reset_index()

In [42]:
pub_ed_spend_2018.head()

  LOCATION      Value
0      AUS  19954.495
1      AUT  26488.460
2      BEL  13297.550
3      CAN  11771.410
4      CHL  14632.636

In [43]:
pub_ed_spend_2018.shape

(38, 2)

In [44]:
full_ed_data = pd.merge(full_ed_data, pub_ed_spend_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

  LOCATION  PISASCIENCE  PISAMATH  PISAREADING      Value
0      AUS        503.0     491.0        503.0  19954.495
1      AUT        490.0     499.0        484.0  26488.460
2      BEL        499.0     508.0        493.0  13297.550
3      CAN        518.0     512.0        520.0  11771.410
4      CZE        497.0     499.0        490.0  16024.522

In [45]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING", "EDUPUBEXP"]
full_ed_data.shape
# no.matrix(full_ed_data)

(42, 5)

In [46]:
# Some country data is missing for 2018
full_ed_data[full_ed_data["EDUPUBEXP"].isna()]

   LOCATION  PISASCIENCE  PISAMATH  PISASCIENCE  EDUPUBEXP
26      CHE        495.0     515.0        484.0        NaN
30      BRA        404.0     384.0        413.0        NaN
33      IDN        396.0     379.0        371.0        NaN
40      CRI        416.0     402.0        426.0        NaN

In [47]:
# OECD Teacher-student ratio
!wget -O "teacher_student_ratio.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.STUDPERTEACHER.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"
teach_ratio = pd.read_csv("teacher_student_ratio.csv")
teach_ratio_2018 = teach_ratio[(teach_ratio["TIME"] == 2018) & \
                               (teach_ratio["SUBJECT"].isin(['EARLYCHILDEDU', 'PRY', 'SRY']))]
teach_ratio_2018.head()

--2022-12-02 09:20:26--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.STUDPERTEACHER.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘teacher_student_ratio.csv’

teacher_student_rat     [    <=>             ]  61.13K  78.6KB/s    in 0.8s

2022-12-02 09:20:28 (78.6 KB/s) - ‘teacher_student_ratio.csv’ saved [62595]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
5,AUS,STUDPERTEACHER,PRY,RT,A,2018,14.926,NaN
13,AUT,STUDPERTEACHER,PRY,RT,A,2018,11.550,NaN
29,AUT,STUDPERTEACHER,EARLYCHILDEDU,RT,A,2018,12.541,NaN
37,AUT,STUDPERTEACHER,SRY,RT,A,2018,9.128,NaN
45,BEL,STUDPERTEACHER,PRY,RT,A,2018,12.815,NaN

In [48]:
avg_teach_ratio_2018 = teach_ratio_2018[["LOCATION", "Value"]].groupby("LOCATION").mean().reset_index()

In [49]:
avg_teach_ratio_2018.head()

  LOCATION    Value
0      AUS  14.9260
1      AUT  11.0730
2      BEL  11.0835
3      BRA  21.7310
4      CAN  16.6910

In [50]:
avg_teach_ratio_2018.shape

(41, 2)

In [51]:
full_ed_data = pd.merge(full_ed_data, avg_teach_ratio_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

  LOCATION  PISASCIENCE  PISAMATH  PISASCIENCE  EDUPUBEXP      Value
0      AUS        503.0     491.0        503.0  19954.495  14.926000
1      AUT        490.0     499.0        484.0  26488.460  11.073000
2      BEL        499.0     508.0        493.0  13297.550  11.083500
3      CAN        518.0     512.0        520.0  11771.410  16.691000
4      CZE        497.0     499.0        490.0  16024.522  14.722667

In [54]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING", "EDUPUBEXP", "STUDPERTEACHER"]
full_ed_data.shape
# no.matrix(full_ed_data)

(42, 6)

In [55]:
# OECD Teaching hours per year
!wget -O "teach_hours.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.TEACHINGHR.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"
teach_hours = pd.read_csv("teach_hours.csv")
teach_hours_2018 = teach_hours[teach_hours["TIME"] == 2018]
teach_hours_2018.head()

--2022-12-02 09:21:17--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.TEACHINGHR.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘teach_hours.csv’

teach_hours.csv         [  <=>               ] 115.22K   410KB/s    in 0.3s

2022-12-02 09:21:21 (410 KB/s) - ‘teach_hours.csv’ saved [117987]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
14,AUS,TEACHINGHR,PRY,HR_YEAR,A,2018,869.57456,NaN
32,AUS,TEACHINGHR,UPPSRY,HR_YEAR,A,2018,810.79320,NaN
50,AUS,TEACHINGHR,LOWSRY,HR_YEAR,A,2018,810.79320,NaN
67,AUT,TEACHINGHR,PRY,HR_YEAR,A,2018,779.40000,NaN
84,AUT,TEACHINGHR,UPPSRY,HR_YEAR,A,2018,588.60000,NaN

In [56]:
avg_teach_hour_2018 = teach_hours_2018[["LOCATION", "Value"]].groupby("LOCATION").mean().reset_index()
avg_teach_hour_2018.head()

  LOCATION        Value
0      AUS   844.353083
1      AUT   658.200000
2      CAN   762.305877
3      CHE   727.425000
4      CHL  1063.473140

In [57]:
full_ed_data = pd.merge(full_ed_data, avg_teach_hour_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

,LOCATION,PISASCIENCE,PISAMATH,PISASCIENCE,EDUPUBEXP,STUDPERTEACHER,Value
0,AUS,503.0,491.0,503.0,19954.495,14.926000,844.353083
1,AUT,490.0,499.0,484.0,26488.460,11.073000,658.200000
2,BEL,499.0,508.0,493.0,13297.550,11.083500,NaN
3,CAN,518.0,512.0,520.0,11771.410,16.691000,762.305877
4,CZE,497.0,499.0,490.0,16024.522,14.722667,789.062500

In [59]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING", "EDUPUBEXP", "STUDPERTEACHER", "TEACHINGHR"]
full_ed_data.shape
# no.matrix(full_ed_data)

(42, 7)

In [60]:
# OECD GDP Millions USD
!wget -O "oecd_gdp.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.GDP.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"
oecd_gdp = pd.read_csv("oecd_gdp.csv")
oecd_gdp_2018 = oecd_gdp[(oecd_gdp["TIME"] == 2018) & (oecd_gdp["MEASURE"] == 'MLN_USD')]
oecd_gdp_2018.head()

--2022-12-02 09:21:56--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.GDP.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘oecd_gdp.csv’

oecd_gdp.csv            [   <=>              ] 269.59K   490KB/s    in 0.5s

2022-12-02 09:21:57 (490 KB/s) - ‘oecd_gdp.csv’ saved [276060]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
58,AUS,GDP,TOT,MLN_USD,A,2018,1323863.624,NaN
172,AUT,GDP,TOT,MLN_USD,A,2018,503361.417,NaN
276,BEL,GDP,TOT,MLN_USD,A,2018,600269.926,NaN
389,CAN,GDP,TOT,MLN_USD,A,2018,1849252.231,NaN
473,CZE,GDP,TOT,MLN_USD,A,2018,437355.916,NaN

In [61]:
oecd_gdp_2018.shape

(66, 8)

In [62]:
full_ed_data = pd.merge(full_ed_data, oecd_gdp_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

,LOCATION,PISASCIENCE,PISAMATH,PISASCIENCE,EDUPUBEXP,STUDPERTEACHER,TEACHINGHR,Value
0,AUS,503.0,491.0,503.0,19954.495,14.926000,844.353083,1323863.624
1,AUT,490.0,499.0,484.0,26488.460,11.073000,658.200000,503361.417
2,BEL,499.0,508.0,493.0,13297.550,11.083500,NaN,600269.926
3,CAN,518.0,512.0,520.0,11771.410,16.691000,762.305877,1849252.231
4,CZE,497.0,499.0,490.0,16024.522,14.722667,789.062500,437355.916

In [63]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING", "EDUPUBEXP", "STUDPERTEACHER", "TEACHINGHR", "GDP"]
full_ed_data.shape
# no.matrix(full_ed_data)

(42, 8)

In [64]:
# OECD Tax Revenue Millions USD
!wget -O "oecd_tax_revenue.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.TAXREV.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"
tax_revenue = pd.read_csv("oecd_tax_revenue.csv")
tax_revenue_2018 = tax_revenue[(tax_revenue["TIME"] == 2018) & (tax_revenue["MEASURE"] == 'MLN_USD')]
tax_revenue_2018.head()

--2022-12-02 09:22:28--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.TAXREV.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘oecd_tax_revenue.csv’

oecd_tax_revenue.cs     [  <=>               ] 171.37K   412KB/s    in 0.4s

2022-12-02 09:22:30 (412 KB/s) - ‘oecd_tax_revenue.csv’ saved [175483]

     LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME    Value  Flag Codes
1778      AUS    TAXREV     TOT  MLN_USD         A  2018  401.232         NaN
1819      AUT    TAXREV     TOT  MLN_USD         A  2018  192.155         NaN
1861      BEL    TAXREV     TOT  MLN_USD         A  2018  238.347         NaN
1917      CAN    TAXREV     TOT  MLN_USD         A  2018  576.768         NaN
1945      CZE    TAXREV     TOT  MLN_USD         A  2018   87.088         NaN

In [65]:
tax_revenue_2018.shape

(39, 8)

In [66]:
full_ed_data = pd.merge(full_ed_data, tax_revenue_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

,LOCATION,PISASCIENCE,PISAMATH,PISASCIENCE,EDUPUBEXP,STUDPERTEACHER,TEACHINGHR,GDP,Value
0,AUS,503.0,491.0,503.0,19954.495,14.926000,844.353083,1323863.624,401.232
1,AUT,490.0,499.0,484.0,26488.460,11.073000,658.200000,503361.417,192.155
2,BEL,499.0,508.0,493.0,13297.550,11.083500,NaN,600269.926,238.347
3,CAN,518.0,512.0,520.0,11771.410,16.691000,762.305877,1849252.231,576.768
4,CZE,497.0,499.0,490.0,16024.522,14.722667,789.062500,437355.916,87.088

In [67]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING", "EDUPUBEXP", "STUDPERTEACHER", "TEACHINGHR", "GDP", "TAXREV"]
full_ed_data.shape
# no.matrix(full_ed_data)

(42, 9)

In [71]:
oecd_instruct_time = pd.read_csv("oecd_instructional_time_2018.csv")
oecd_instruct_time.head()

,COUNTRY,Country,ISC11,ISCED 2011,AGE,Age,SUBJECT,Subject,INDICATOR,Indicator,YEAR,Year,Value,Flag Codes,Flags
0,AUS,Australia,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_YR,Average hours per year of instruction time (in...,2014,2014,1010.0,NaN,NaN
1,AUS,Australia,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_YR,Average hours per year of instruction time (in...,2015,2015,1000.0,NaN,NaN
2,AUS,Australia,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_YR,Average hours per year of instruction time (in...,2016,2016,1000.0,NaN,NaN
3,AUS,Australia,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_YR,Average hours per year of instruction time (in...,2017,2017,1000.0,NaN,NaN
4,AUS,Australia,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_YR,Average hours per year of instruction time (in...,2018,2018,1000.0,NaN,NaN

In [72]:
oecd_instrct_time_2018 = oecd_instruct_time[(oecd_instruct_time["YEAR"] == 2018) & \
                                            (oecd_instruct_time["SUBJECT"] == 'COM_T') & \
                                            (oecd_instruct_time["INDICATOR"] == 'HR_LEVEL')]
oecd_instrct_time_2018.head()

,COUNTRY,Country,ISC11,ISCED 2011,AGE,Age,SUBJECT,Subject,INDICATOR,Indicator,YEAR,Year,Value,Flag Codes,Flags
55,AUS,Australia,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,7000.00000,NaN,NaN
79,AUS,Australia,L2_C4,Lower secondary general education (ISCED2011 ...,T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,4000.00000,NaN,NaN
160,AUT,Austria,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,2820.00000,NaN,NaN
184,AUT,Austria,L2_C4,Lower secondary general education (ISCED2011 ...,T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,3600.00000,NaN,NaN
265,BFL,Flemish Comm. (Belgium),L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,4931.11133,NaN,NaN

In [73]:
oecd_inst_time_all_2018 = oecd_instrct_time_2018[["COUNTRY", "Value"]].groupby("COUNTRY").sum().reset_index()
oecd_inst_time_all_2018.head()

  COUNTRY        Value
0     AUS  11000.00000
1     AUT   6420.00000
2     BFL   6827.40759
3     BFR   6921.33337
4     BRA      0.00000

In [74]:
oecd_inst_time_all_2018[oecd_inst_time_all_2018["Value"] < 1000]

   COUNTRY  Value
4      BRA    0.0
13     ENG    0.0
32     NZL    0.0
36     SCO    0.0

In [75]:
oecd_inst_time_all_2018.shape

(42, 2)

In [76]:
oecd_instrct_time_2018[oecd_instrct_time_2018["COUNTRY"].isin(["BRA", "ENG", "NZL", "SCO"])]

,COUNTRY,Country,ISC11,ISCED 2011,AGE,Age,SUBJECT,Subject,INDICATOR,Indicator,YEAR,Year,Value,Flag Codes,Flags
2890,NZL,New Zealand,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data
2914,NZL,New Zealand,L2_C4,Lower secondary general education (ISCED2011 ...,T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data
3940,ENG,England (UK),L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data
3964,ENG,England (UK),L2_C4,Lower secondary general education (ISCED2011 ...,T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data
4045,SCO,Scotland (UK),L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data
4069,SCO,Scotland (UK),L2_C4,Lower secondary general education (ISCED2011 ...,T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data
4393,BRA,Brazil,L1,Primary education (ISCED2011 level 1),T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data
4417,BRA,Brazil,L2_C4,Lower secondary general education (ISCED2011 ...,T,Total: All age groups,COM_T,Compulsory instruction time (total),HR_LEVEL,Total number of hours of instruction time (in ...,2018,2018,NaN,m,Missing data

In [77]:
full_ed_data = pd.merge(full_ed_data, oecd_inst_time_all_2018[["COUNTRY", "Value"]], right_on='COUNTRY', left_on='LOCATION', how='left')
full_ed_data.drop("COUNTRY", axis=1, inplace=True)
full_ed_data.head()

,LOCATION,PISASCIENCE,PISAMATH,PISASCIENCE,EDUPUBEXP,STUDPERTEACHER,TEACHINGHR,GDP,TAXREV,Value
0,AUS,503.0,491.0,503.0,19954.495,14.926000,844.353083,1323863.624,401.232,11000.00000
1,AUT,490.0,499.0,484.0,26488.460,11.073000,658.200000,503361.417,192.155,6420.00000
2,BEL,499.0,508.0,493.0,13297.550,11.083500,NaN,600269.926,238.347,NaN
3,CAN,518.0,512.0,520.0,11771.410,16.691000,762.305877,1849252.231,576.768,8289.23755
4,CZE,497.0,499.0,490.0,16024.522,14.722667,789.062500,437355.916,87.088,7056.00000

In [78]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING", "EDUPUBEXP", "STUDPERTEACHER", "TEACHINGHR", "GDP", "TAXREV", "INSTRUCTTIME"]
full_ed_data.shape
# no.matrix(full_ed_data)

(42, 10)

In [80]:
# OECD Public education spending (non-tertiary) USD per student
!wget -O "private_ed_spend.csv" "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.EDUPRIVEXP.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en"
private_ed_spend = pd.read_csv("private_ed_spend.csv")
private_ed_spend_2018 = pub_ed_spend[(pub_ed_spend["TIME"] == 2018) \
                                     & (pub_ed_spend["MEASURE"] == 'USD_STUDENT')\
                                     & (pub_ed_spend["SUBJECT"].isin(['EARLYCHILDEDU', 'PRY_NTRY']))]
private_ed_spend_2018.head()

--2022-12-02 09:27:26--  https://stats.oecd.org/sdmx-json/data/DP_LIVE/.EDUPRIVEXP.../OECD?contentType=csv&detail=code&separator=comma&csv-lang=en
Resolving stats.oecd.org (stats.oecd.org)... 78.41.130.147
Connecting to stats.oecd.org (stats.oecd.org)|78.41.130.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘private_ed_spend.csv’

private_ed_spend.cs     [  <=>               ] 152.96K   370KB/s    in 0.4s

2022-12-02 09:27:29 (370 KB/s) - ‘private_ed_spend.csv’ saved [156627]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
941,AUS,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,12243.960,NaN
949,AUT,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,15227.390,NaN
962,BEL,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,13297.550,NaN
973,CAN,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,11771.410,NaN
988,CZE,EDUEXP,PRY_NTRY,USD_STUDENT,A,2018,9206.662,NaN

In [81]:
private_ed_spend_2018.SUBJECT.unique()

array(['PRY_NTRY', 'EARLYCHILDEDU'], dtype=object)

In [82]:
private_ed_spend_2018 = private_ed_spend_2018[["LOCATION", "Value"]].groupby("LOCATION").sum().reset_index()
private_ed_spend_2018.head()

  LOCATION      Value
0      AUS  19954.495
1      AUT  26488.460
2      BEL  13297.550
3      CAN  11771.410
4      CHL  14632.636

In [83]:
private_ed_spend_2018[private_ed_spend_2018["LOCATION"] == 'AUS']

  LOCATION      Value
0      AUS  19954.495

In [84]:
full_ed_data = pd.merge(full_ed_data, private_ed_spend_2018[["LOCATION", "Value"]], on='LOCATION', how='left')
full_ed_data.head()

,LOCATION,PISASCIENCE,PISAMATH,PISASCIENCE,EDUPUBEXP,STUDPERTEACHER,TEACHINGHR,GDP,TAXREV,INSTRUCTTIME,Value
0,AUS,503.0,491.0,503.0,19954.495,14.926000,844.353083,1323863.624,401.232,11000.00000,19954.495
1,AUT,490.0,499.0,484.0,26488.460,11.073000,658.200000,503361.417,192.155,6420.00000,26488.460
2,BEL,499.0,508.0,493.0,13297.550,11.083500,NaN,600269.926,238.347,NaN,13297.550
3,CAN,518.0,512.0,520.0,11771.410,16.691000,762.305877,1849252.231,576.768,8289.23755,11771.410
4,CZE,497.0,499.0,490.0,16024.522,14.722667,789.062500,437355.916,87.088,7056.00000,16024.522

In [87]:
full_ed_data.columns = ["LOCATION", "PISASCIENCE", "PISAMATH", "PISAREADING", "EDUPUBEXP", "STUDPERTEACHER", "TEACHINGHR", "GDP", "TAXREV", "INSTRUCTTIME", "EDUPRIVATEEXP"]
full_ed_data.shape
# no.matrix(full_ed_data)

(42, 11)

In [88]:
full_ed_data.to_csv("full_educational_data.csv")